mi-claro-web-master/dist/inicio-registro-codigo-seguridad.html
<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage">
  <head lang="es" xml:lang="es">
    <title>Claro</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="Description" content="Somos el  proveedor líder de telecomunicaciones en América Latina con operación en 18 países.  Conoce nuestros servicios de Telefonía, Televisión e Internet.">
    <meta name="Keywords" content="claro, claro telefonía, claro en línea, claro internet, web claro">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="shorcut icon" href="assets/img/favicon.ico">
    <link rel="shorcut icon" href="assets/img/favicon.png">
    <link rel="preload" href="assets/fonts/font-claro.css" as="style">
    <link rel="preload" href="assets/css/styles.css" as="style">
    <link rel="preload" href="assets/js/fancybox/dist/jquery.fancybox.min.css" as="style">
    <link rel="preload" href="assets/js/fancybox/dist/jquery.fancybox.min.js" as="script">
    <link rel="preload" as="font" type="font/ttf" crossorigin="anonymous" href="assets/fonts/claroicons.ttf?7yr982">
    <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="assets/fonts/Gibson-Bold.woff2">
    <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="assets/fonts/Gibson-Regular.woff2">
    <link rel="preload" as="font" type="font/woff2" crossorigin="anonymous" href="assets/fonts/Gibson-SemiBold.woff2">
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/font-claro.css" type="text/css">
    <link rel="stylesheet" href="assets/js/fancybox/dist/jquery.fancybox.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/styles.css" type="text/css">
    <script src="assets/js/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <div class="container"><a class="logo" href="./"><img src="assets/vector/logo-miclaro.svg" width="107" height="28"></a></div>
    </header>
    <main class="wrapper">
      <section class="white">
        <div class="container">
          <div class="contLogin">
            <div class="loginRegister lRBoxRegister">
              <div class="contLR">
                <div class="loginRegisterDetails">
                  <h1 class="h1">Regístrate</h1>
                </div>
                <form class="loginRegisterBox"> 
                  <fieldset class="contTitleFormLRB"> 
                    <h3 class="h3">2. Código de seguridad</h3>
                    <p>Ingresa el código de seguridad enviado al correo electrónico: <strong>mariale.romas@gmail.com</strong></p>
                  </fieldset>
                  <fieldset class="contCBLRB">
                    <div class="formSecureCode">
                      <p><strong>Ingresa tu código:</strong></p>
                      <div class="formSecureCodeGrid">
                        <input type="text">
                        <input type="text">
                        <input type="text">
                        <input type="text">
                        <input type="text">
                        <input type="text">
                      </div>
                      <p>Si no recibiste el código, haz <a class="textLink" href="#">clic aquí</a><br> para reenviarlo</p>
                    </div>
                  </fieldset>
                  <div class="loginRegisterActions spaceTop"><a class="btn btnBlancoRojo">Continuar</a>
                    <p> <a class="textLinkOnly" href="#">Regresar</a></p>
                  </div>
                </form>
              </div>
              <div class="loginRegisterImg">
                <picture>
                  <source media="(max-width: 640px)" data-srcset="assets/img/img-chico-registro.webp" type="image/webp">
                  <source media="(max-width: 640px)" data-srcset="assets/img/img-chico-registro.png" type="image/png">
                  <source media="(min-width: 640px)" data-srcset="assets/img/img-chico-registro.webp" type="image/webp">
                  <source media="(min-width: 640px)" data-srcset="assets/img/img-chico-registro.png" type="image/png"><img src="assets/img/img-chico-registro.png" alt="Claro Planes" width="375" height="582">
                </picture>
              </div>
            </div>
            <div class="loginInfo lIBox">
              <div class="loginInfoTitle">
                <h3 class="h2">Beneficios de registrarte en Mi Claro</h3>
                <p class="h5">Podrás realizar tus gestiones sin importar donde estés, desde la comodidad de tu hogar. Registrarte ya en Mi Claro.</p>
              </div>
              <div class="contLitsMedia">
                <div class="itemMedia">
                  <div class="itemMedia"><i class="cIco-multiplataforma"></i>
                    <div class="iMInfo">Recuerda que tu usuario Mi Claro lo puedes utilizar para otras plataformas como: Tienda en línea, Mi Claro App y Claro Play</div>
                  </div>
                  <div class="itemMedia"><i class="cIco-servicio-movil"></i>
                    <div class="iMInfo">Paga tus servicios, gestiona tu cuenta y contrata todo aquí</div>
                  </div>
                  <div class="itemMedia"><i class="cIco-pagar-factura"></i>
                    <div class="iMInfo">Ciclo de facturación.</div>
                  </div>
                  <div class="itemMedia"><i class="cIco-detalle-servicios"></i>
                    <div class="iMInfo">Detalle de llamadas de tus servicios móviles y fijos.</div>
                  </div>
                  <div class="itemMedia"><i class="cIco-saldos"></i>
                    <div class="iMInfo">Consulta tus consumos y saldos de minutos, internet y SMS</div>
                  </div>
                  <div class="itemMedia"><i class="cIco-check-hexagono"></i>
                    <div class="iMInfo">Revisa la información de tu plan actual y servicios contratados.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="white">
        <div class="container">
          <h2>Descárgala en tu Store favorita</h2>
          <div class="contItemsStore jsSlidesStore">
            <div class="wrapperIS">
              <div class="itemStore">
                <div class="logoIS"><i class="icono-app-claro-musica"></i></div>
                <div class="btnsIS"><a class="btnStore" href="#" target="_blank"> <i class="iconoGooglePay"></i>Google Play</a><a class="btnStore" href="#" target="_blank"> <i class="iconoAppStore"></i>App Store</a><a class="btnStore" href="#" target="_blank"> <i class="iconoAppGallery"></i>AppGallery</a></div>
              </div>
            </div>
            <div class="wrapperIS">
              <div class="itemStore">
                <div class="logoIS"><i class="icono-app-claro-video"></i></div>
                <div class="btnsIS"><a class="btnStore" href="#" target="_blank"> <i class="iconoGooglePay"></i>Google Play</a><a class="btnStore" href="#" target="_blank"> <i class="iconoAppStore"></i>App Store</a><a class="btnStore" href="#" target="_blank"> <i class="iconoAppGallery"></i>AppGallery</a></div>
              </div>
            </div>
            <div class="wrapperIS">
              <div class="itemStore">
                <div class="logoIS"><i class="icono-app-mi-claro"></i></div>
                <div class="btnsIS"><a class="btnStore" href="#" target="_blank"> <i class="iconoGooglePay"></i>Google Play</a><a class="btnStore" href="#" target="_blank"> <i class="iconoAppStore"></i>App Store</a><a class="btnStore" href="#" target="_blank"> <i class="iconoAppGallery"></i>AppGallery</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--CSS-->
      <style>.loginInfo{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.loginInfo .loginInfoTitle{margin-bottom:16px}.loginInfo .loginInfoTitle p{color:#313131}.loginInfo .loginInfoTitle .h2{color:#313131;font-weight:400}.loginInfo .loginInfoTitle .h2+.h4{margin-top:20px}.loginInfo .loginInfoTitle .h2+.h5{margin-top:20px}.loginInfo .loginInfoTitle .h5{font-weight:400;line-height:26px}.loginInfo .loginInfoTitle .txtLoginInfoTitle{display:none}.loginInfo .contQuickAccess .itemQuickAccess{text-align:center;margin-bottom:12px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.loginInfo .contQuickAccess .itemQuickAccess [class^='cIco-'],.loginInfo .contQuickAccess .itemQuickAccess [class*=" cIco-"]{background:#fff;box-shadow:0px 4px 8px rgba(49,49,49,0.15);border-radius:12px;width:60px;height:60px;display:-webkit-box ;display:-moz-box ;display:-ms-flexbox ;webkit-display:-webkit-flex ;display:-webkit-flex ;display:flex ;align-items:center;-webkit-align-items:center;-ms-flex-align:center;justify-content:center;-webkit-justify-content:center;-ms-flex-pack:center;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0 auto 8px}.loginInfo .contQuickAccess .itemQuickAccess [class^='cIco-']:before,.loginInfo .contQuickAccess .itemQuickAccess [class*=" cIco-"]:before{width:36px;height:36px}.loginInfo .contQuickAccess .itemQuickAccess p{font-size:10px;font-size:.625rem;color:#3C3C3C;font-weight:500;width:60px;margin:auto}.loginInfo.lIBox{background:#fff;box-shadow:0px 4px 8px rgba(49,49,49,0.15);border-radius:12px;padding:20px 20px 32px}.loginRegister{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;background:#0097A9;background:-moz-linear-gradient(180deg, #0097A9 0%, #05808E 100%);background:-webkit-gradient(180deg, color-stop(0%, #0097A9), color-stop(100%, #05808E));background:-webkit-linear-gradient(180deg, #0097A9 0%, #05808E 100%);background:-o-linear-gradient(180deg, #0097A9 0%, #05808E 100%);background:-ms-linear-gradient(180deg, #0097A9 0%, #05808E 100%);background:linear-gradient(180deg, #0097A9 0%, #05808E 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#0097A9', endColorstr='#05808E', GradientType=1 );padding:20px;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;-ms-box-shadow:none;box-shadow:none;width:calc(100% + 40px);margin-left:-20px;margin-right:-20px;border-radius:0 0 12px 12px;overflow:hidden}.loginRegister .loginRegisterDetails .h1{color:#fff}.loginRegister .loginRegisterDetails .loginRegisterDetailsText{display:none}.loginRegister .loginRegisterBox{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-border-radius:12px;-moz-border-radius:12px;border-radius:12px;background:#fff;width:100%;margin-top:12px;padding:32px 20px 20px;min-height:470px}.loginRegister .loginRegisterBox .loginRegisterBoxHeader{border-bottom:1px solid #BBB;padding-bottom:20px;margin-bottom:32px;display:none}.loginRegister .loginRegisterBox .contTitleFormLRB{margin-bottom:32px}.loginRegister .loginRegisterBox .contTitleFormLRB .h3{margin-bottom:4px;font-size:22px;font-size:1.375rem}.loginRegister .loginRegisterBox .contTitleFormLRB .txtSmall{font-size:14px;font-size:.875rem}.loginRegister .loginRegisterBox .contTitleFormLRB.mbTFLRB{margin-bottom:24px}.loginRegister .loginRegisterBox .contCBLRB{padding-top:20px;margin-bottom:56px}.loginRegister .loginRegisterBox fieldset{margin-bottom:20px}.loginRegister .loginRegisterBox fieldset>label{font-weight:700;display:inline-block;padding-bottom:12px}.loginRegister .loginRegisterBox fieldset.fsLink{display:-webkit-box ;display:-moz-box ;display:-ms-flexbox ;webkit-display:-webkit-flex ;display:-webkit-flex ;display:flex ;justify-content:flex-end;-webkit-justify-content:flex-end;-ms-flex-pack:flex-end;-ms-flex-pack:end}.loginRegister .loginRegisterBox fieldset.fsLink .textLink{color:#3C3C3C;font-weight:400;font-size:14px;font-size:.875rem}.loginRegister .loginRegisterBox fieldset.fsLink .textLink:after{background-color:#3C3C3C}.loginRegister .loginRegisterBox .loginRegisterActions p{text-align:center;margin-bottom:12px}.loginRegister .loginRegisterBox .loginRegisterActions .btn{width:100%}.loginRegister .loginRegisterBox .loginRegisterActions .btn+p{margin-top:20px}.loginRegister .loginRegisterBox .loginRegisterActions.spaceTop{margin-top:32px}.loginRegister .loginRegisterImg{display:none;pointer-events:none}.loginRegister.lRBoxRegister{background:#FCF3F3}.loginRegister.lRBoxRegister .loginRegisterDetails .h1{color:#313131}.loginRegister.lRBoxRegister .loginRegisterDetails .h1::after{background-color:#DA291C}.loginRegister .formList li{font-size:14px;font-size:.875rem;position:relative;padding-left:12px}.loginRegister .formList li:before{-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;content:"";position:absolute;left:0;top:8px;width:3px;height:3px;display:block;background-color:#DA291C}.jsSlidesQuickAccess .slick-dots,.jsSlidesStore .slick-dots{position:static}.jsSlidesQuickAccess .slick-dots li,.jsSlidesStore .slick-dots li{width:12px;height:12px;padding:4px;margin:0 2px}.jsSlidesQuickAccess .slick-dots li button,.jsSlidesStore .slick-dots li button{-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-ms-transition:all .5s ease;transition:all .5s ease;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;width:12px;height:12px;padding:0;background-color:#C4C4C4}.jsSlidesQuickAccess .slick-dots li.slick-active button,.jsSlidesStore .slick-dots li.slick-active button{background-color:#FFC721}.jsSlidesStore{margin-bottom:0 !important}.contLogin .loginInfo+.loginRegister{margin-top:32px}.contLogin .loginRegister+.loginInfo{margin-top:32px}.contLitsMedia{margin-top:32px}.itemMedia{display:-webkit-box ;display:-moz-box ;display:-ms-flexbox ;webkit-display:-webkit-flex ;display:-webkit-flex ;display:flex ;flex-wrap:wrap;-webkit-box-wrap:wrap;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%}.itemMedia>i{width:40px;height:40px}.itemMedia>i:before{width:100%;height:100%}.itemMedia .iMInfo{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin-left:20px;width:calc(100% - 60px);font-size:14px;font-size:.875rem;line-height:24px;font-weight:500}.itemMedia+.itemMedia{margin-top:32px}.contItemsStore{margin-top:12px}.contItemsStore .wrapperIS{padding:4px;margin-bottom:8px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.itemStore{background:#FFF;box-shadow:0px 4px 8px rgba(0,0,0,0.15);border-radius:12px;padding:12px;display:-webkit-box ;display:-moz-box ;display:-ms-flexbox ;webkit-display:-webkit-flex ;display:-webkit-flex ;display:flex ;flex-wrap:wrap;-webkit-box-wrap:wrap;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;align-items:center;-webkit-align-items:center;-ms-flex-align:center;justify-content:center;-webkit-justify-content:center;-ms-flex-pack:center}.itemStore .logoIS{width:120px;height:75px;margin-right:32px}.itemStore .logoIS i:before{width:100%;height:100%;background-position:center;background-repeat:no-repeat;background-size:contain;content:"";display:block}.itemStore .logoIS .icono-app-claro-musica:before{background-image:url(assets/vector/logo-claro-musica-ico.svg)}.itemStore .logoIS .icono-app-claro-video:before{background-image:url(assets/vector/logo-claroVideo.svg)}.itemStore .logoIS .icono-app-mi-claro:before{background-image:url(assets/vector/logo-mi-claro-ico.svg)}.itemStore .btnsIS .btnStore{background:#fff;box-shadow:0px 2px 4px rgba(0,0,0,0.15);border-radius:40px;display:-webkit-box ;display:-moz-box ;display:-ms-flexbox ;webkit-display:-webkit-flex ;display:-webkit-flex ;display:flex ;align-items:center;-webkit-align-items:center;-ms-flex-align:center;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:12px;font-size:.75rem;font-weight:normal;font-family:"Roboto",sans-serif;min-height:28px;min-width:128px;padding:4px 12px}.itemStore .btnsIS .btnStore+.btnStore{margin-top:8px}.itemStore .btnsIS .btnStore>i{width:20px;height:20px;display:inline-block;margin-right:16px}.itemStore .btnsIS .btnStore>i:before{width:100%;height:100%;background-position:center;background-repeat:no-repeat;background-size:contain;content:"";display:block}.itemStore .btnsIS .btnStore .iconoGooglePay:before{background-image:url(assets/vector/ico-googlePlay.svg)}.itemStore .btnsIS .btnStore .iconoAppStore:before{background-image:url(assets/vector/ico-appStore.svg)}.itemStore .btnsIS .btnStore .iconoAppGallery:before{background-image:url(assets/vector/ico-appGallery.svg)}.formSecureCode p{text-align:center}.formSecureCode p+.formSecureCodeGrid{margin-top:12px}.formSecureCode .formSecureCodeGrid{display:-webkit-box ;display:-moz-box ;display:-ms-flexbox ;webkit-display:-webkit-flex ;display:-webkit-flex ;display:flex ;justify-content:center;-webkit-justify-content:center;-ms-flex-pack:center}.formSecureCode .formSecureCodeGrid input{font-size:20px;font-size:1.25rem;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;width:34px;height:42px;padding:6px 0;text-align:center}.formSecureCode .formSecureCodeGrid input+input{margin-left:12px}.formSecureCode .formSecureCodeGrid+p{margin-top:20px}@media only screen and (min-width: 960px){.contLogin{display:-webkit-box ;display:-moz-box ;display:-ms-flexbox ;webkit-display:-webkit-flex ;display:-webkit-flex ;display:flex ;flex-wrap:wrap;-webkit-box-wrap:wrap;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.contLogin .loginInfo{width:47.5%;padding:40px 30px 30px}.contLogin .loginInfo+.loginRegister{margin-top:0}.contLogin .loginInfo.lIBox{width:43%}.contLogin .loginRegister{width:calc(52.5% - 30px);order:-1;margin-right:30px}.contLogin .loginRegister+.loginInfo{margin-top:0}.contLogin .loginRegister.lRBoxRegister{width:calc(57% - 30px)}.loginInfo.lIBox{padding:56px 56px 56px 60px}.loginInfo.lIBox .loginInfoTitle .h2{font-size:28px;font-size:1.75rem;line-height:28px}.loginInfo .loginInfoTitle{margin-bottom:24px}.loginInfo .loginInfoTitle .h2{font-weight:400}.loginInfo .loginInfoTitle .h2+p,.loginInfo .loginInfoTitle .h2+.txtLoginInfoTitle{margin-top:12px}.loginInfo .loginInfoTitle .h2+.h5{margin-top:20px}.loginInfo .loginInfoTitle .txtLoginInfoTitle{display:block}.loginInfo .contQuickAccess{display:-webkit-box ;display:-moz-box ;display:-ms-flexbox ;webkit-display:-webkit-flex ;display:-webkit-flex ;display:flex ;flex-wrap:wrap;-webkit-box-wrap:wrap;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;width:calc(100% + 20px);margin-left:-10px;margin-right:-10px}.loginInfo .contQuickAccess .itemQuickAccess{background:#fff;box-shadow:0px 4px 8px rgba(49,49,49,0.15);border-radius:12px;padding:20px;margin:0 10px 20px;width:calc(50% - 20px);min-width:160px;min-height:132px;display:-webkit-box ;display:-moz-box ;display:-ms-flexbox ;webkit-display:-webkit-flex ;display:-webkit-flex ;display:flex ;flex-direction:column;-webkit-box-direction:column;-webkit-flex-direction:column;-ms-flex-direction:column}.loginInfo .contQuickAccess .itemQuickAccess [class^='cIco-'],.loginInfo .contQuickAccess .itemQuickAccess [class*=" cIco-"]{background:none;box-shadow:none;border-radius:0;width:100%;height:46px;margin-bottom:12px}.loginInfo .contQuickAccess .itemQuickAccess [class^='cIco-']:before,.loginInfo .contQuickAccess .itemQuickAccess [class*=" cIco-"]:before{width:46px;height:46px}.loginInfo .contQuickAccess .itemQuickAccess .cIco-claro-musica:before,.loginInfo .contQuickAccess .itemQuickAccess .cIco-claro-video:before{width:120px}.loginInfo .contQuickAccess .itemQuickAccess .cIco-mi-claro:before{width:100px}.loginInfo .contQuickAccess .itemQuickAccess p{font-size:14px;font-size:.875rem;line-height:16px;font-weight:700;width:auto}.loginRegister{margin:0;border-radius:32px;padding:40px;position:relative;min-height:790px}.loginRegister .contLR{position:relative;z-index:10}.loginRegister .loginRegisterImg{display:block;position:absolute;bottom:0;right:0}.loginRegister .loginRegisterBox{max-width:420px}.loginRegister .loginRegisterBox fieldset.fsLink{margin-bottom:40px}.loginRegister .loginRegisterDetails{padding-bottom:56px;min-height:190px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.loginRegister .loginRegisterDetails .h1{position:relative;padding-bottom:12px;margin-bottom:20px}.loginRegister .loginRegisterDetails .h1::after{content:"";width:100%;max-width:450px;height:8px;border-radius:20px;background-color:#FFC721;position:absolute;bottom:0;left:0}.loginRegister .loginRegisterDetails .loginRegisterDetailsText{display:block;color:#fff;font-size:18px;font-size:1.125rem}.itemMedia .iMInfo{font-size:18px;font-size:1.125rem}.itemMedia+.itemMedia{margin-top:40px}.contLitsMedia{margin-top:40px}.contItemsStore{margin-top:20px;margin-left:-25px;margin-right:-25px;width:calc(100% + 50px);display:-webkit-box ;display:-moz-box ;display:-ms-flexbox ;webkit-display:-webkit-flex ;display:-webkit-flex ;display:flex ;flex-wrap:wrap;-webkit-box-wrap:wrap;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap}.contItemsStore .wrapperIS{width:calc(50% - 50px);padding:0;margin-bottom:20px;margin-left:25px;margin-right:25px}.itemStore{padding:20px}.itemStore .logoIS{width:140px;height:105px}.itemStore .btnsIS .btnStore{font-size:14px;font-size:.875rem;min-height:34px;min-width:160px}.itemStore .btnsIS .btnStore+.btnStore{margin-top:12px}.itemStore .btnsIS .btnStore>i{width:22px;height:22px;display:inline-block;margin-right:20px}.formSecureCode .formSecureCodeGrid input{width:40px;height:40px}}@media only screen and (min-width: 1280px){.loginInfo .contQuickAccess .itemQuickAccess{width:calc(33.3333% - 20px)}.contItemsStore .wrapperIS{width:calc(33.33% - 50px)}}@media only screen and (min-width: 1500px){.contLogin .loginInfo{padding-right:60px}.loginInfo.lIBox{padding-right:56px}.itemStore .logoIS{width:150px;margin-right:40px}}

      </style>
    </main>
    <footer>
      <div class="container">
        <p>© Copyright</p>
        <ul>
          <li><a href="#">Términos y Condiciones</a></li>
          <li><a href="#">Avisos de Privacidad</a></li>
        </ul>
      </div>
    </footer>
    <div class="modalGen" id="modalNotify" style="display: none;">
      <div class="modalGenWrap">
        <div class="modalNotify">
          <h3><i class="ico-info"></i><span>Titulo de la Notificación</span></h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    <!--Scripts-->
    <script src="assets/js/fancybox/dist/jquery.fancybox.min.js"></script>
    <!--Slider Library-->
    <script src="assets/js/slick/slick.js" type="text/javascript"></script>
    <script>
      //Slider Options
      $optionsCarousel = false;
      function optSliderStore(){ 
      	if($(window).width() < 960){
      		if(!$optionsCarousel){
      			$('.jsSlidesStore').slick({
      				autoplay: true,
      				autoplaySpeed: 7000,
      				speed: 600,
      				slidesToShow: 2,
      				slidesToScroll: 2,
      				dots: true,
      				arrows: false,
      				infinite: false,
      				responsive: [{
      					breakpoint: 665,
      					settings: {
      						slidesToShow: 1,
      						slidesToScroll: 1,
      						dots: true
      					}
      				}]
      			});
      			$optionsCarousel = true;
      		}
      	} else if($(window).width() > 640){
      		if($optionsCarousel){
      			$('.jsSlidesStore').slick('unslick');
      			$optionsCarousel = false;
      		}
      	}
      };
      //Slider Promociones
      
      
      $(document).ready(function() {
      	optSliderStore();
      });
      $(window).on('resize', function(){
      	optSliderStore();
      });
    </script>
  </body>
</html>

mi-claro-web-master/src/pug/inicio-registro-codigo-seguridad.pug
- var titulo = "Claro";
- var descrip = "Somos el  proveedor líder de telecomunicaciones en América Latina con operación en 18 países.  Conoce nuestros servicios de Telefonía, Televisión e Internet.";
- var keyword = "claro, claro telefonía, claro en línea, claro internet, web claro";

doctype html
html(itemscope, itemtype="http://schema.org/WebPage")

	include includes/head.pug

	body

		include includes/modules/headerSimple.pug

		main.wrapper

			section.white
				.container
					.contLogin

						.loginRegister.lRBoxRegister
							.contLR
								.loginRegisterDetails
									h1.h1 Regístrate
									//-.loginRegisterDetailsText
										p Ingresa a Mi Claro  para ver el resumen de tus servicios.
										p Ofrecerte las mejores ofertas para tu servicios es nuestra misión.	 
								form.loginRegisterBox 
									fieldset.contTitleFormLRB  
										h3.h3 2. Código de seguridad
										p Ingresa el código de seguridad enviado al correo electrónico: 
											strong mariale.romas@gmail.com

									fieldset.contCBLRB
										.formSecureCode
											p
												strong Ingresa tu código:
											.formSecureCodeGrid
												input(type="text")
												input(type="text")
												input(type="text")
												input(type="text")
												input(type="text")
												input(type="text")
											p Si no recibiste el código, haz 
												a(href="#").textLink clic aquí
												br
												|  para reenviarlo
									.loginRegisterActions.spaceTop
										a.btn.btnBlancoRojo Continuar
										p 
											a(href="#").textLinkOnly Regresar

							.loginRegisterImg
								picture
									//- Mobil
									source(media="(max-width: 640px)" data-srcset='assets/img/img-chico-registro.webp' type="image/webp")
									source(media="(max-width: 640px)" data-srcset='assets/img/img-chico-registro.png' type="image/png")
									//- Desktop
									source(media="(min-width: 640px)" data-srcset='assets/img/img-chico-registro.webp' type="image/webp")
									source(media="(min-width: 640px)" data-srcset='assets/img/img-chico-registro.png' type="image/png")
									img(src='assets/img/img-chico-registro.png' alt='Claro Planes' width='375' height='582')

						.loginInfo.lIBox
							.loginInfoTitle
								h3.h2 Beneficios de registrarte en Mi Claro
								p.h5 Podrás realizar tus gestiones sin importar donde estés, desde la comodidad de tu hogar. Registrarte ya en Mi Claro.

							.contLitsMedia
								.itemMedia
									.itemMedia
										i.cIco-multiplataforma
										.iMInfo Recuerda que tu usuario Mi Claro lo puedes utilizar para otras plataformas como: Tienda en línea, Mi Claro App y Claro Play
									.itemMedia
										i.cIco-servicio-movil
										.iMInfo Paga tus servicios, gestiona tu cuenta y contrata todo aquí
									.itemMedia
										i.cIco-pagar-factura
										.iMInfo Ciclo de facturación.
									.itemMedia
										i.cIco-detalle-servicios
										.iMInfo Detalle de llamadas de tus servicios móviles y fijos.
									.itemMedia
										i.cIco-saldos
										.iMInfo Consulta tus consumos y saldos de minutos, internet y SMS
									.itemMedia
										i.cIco-check-hexagono
										.iMInfo Revisa la información de tu plan actual y servicios contratados.

			section.white
				.container
					h2 Descárgala en tu Store favorita
					.contItemsStore.jsSlidesStore
						.wrapperIS
							.itemStore
								.logoIS
									i.icono-app-claro-musica
								.btnsIS
									a.btnStore(href="#", target="_blank") 
										i.iconoGooglePay
										| Google Play
									a.btnStore(href="#", target="_blank") 
										i.iconoAppStore
										| App Store
									a.btnStore(href="#", target="_blank") 
										i.iconoAppGallery
										| AppGallery
						.wrapperIS
							.itemStore
								.logoIS
									i.icono-app-claro-video
								.btnsIS
									a.btnStore(href="#", target="_blank") 
										i.iconoGooglePay
										| Google Play
									a.btnStore(href="#", target="_blank") 
										i.iconoAppStore
										| App Store
									a.btnStore(href="#", target="_blank") 
										i.iconoAppGallery
										| AppGallery
						.wrapperIS
							.itemStore
								.logoIS
									i.icono-app-mi-claro
								.btnsIS
									a.btnStore(href="#", target="_blank") 
										i.iconoGooglePay
										| Google Play
									a.btnStore(href="#", target="_blank") 
										i.iconoAppStore
										| App Store
									a.btnStore(href="#", target="_blank") 
										i.iconoAppGallery
										| AppGallery

			//CSS
			style
				include ../resources/css/includes/modules/loginRegistroV2.css


		include includes/modules/footer.pug
		//Slider Library
		script(src="assets/js/slick/slick.js" type="text/javascript")

		script.
			//Slider Options
			$optionsCarousel = false;
			function optSliderStore(){ 
				if($(window).width() < 960){
					if(!$optionsCarousel){
						$('.jsSlidesStore').slick({
							autoplay: true,
							autoplaySpeed: 7000,
							speed: 600,
							slidesToShow: 2,
							slidesToScroll: 2,
							dots: true,
							arrows: false,
							infinite: false,
							responsive: [{
								breakpoint: 665,
								settings: {
									slidesToShow: 1,
									slidesToScroll: 1,
									dots: true
								}
							}]
						});
						$optionsCarousel = true;
					}
				} else if($(window).width() > 640){
					if($optionsCarousel){
						$('.jsSlidesStore').slick('unslick');
						$optionsCarousel = false;
					}
				}
			};
			//Slider Promociones


			$(document).ready(function() {
				optSliderStore();
			});
			$(window).on('resize', function(){
				optSliderStore();
			});
